name: <%= @ctx.app_name %>
app_entry: src/main.cr
frontend:
  dir: <%= @ctx.frontend_dir %>
  install: <%= LuneCLI::NPM_CMD %> install
  build: <%= LuneCLI::NPM_CMD %> run build
  dev:
    cmd: <%= LuneCLI::NPM_CMD %> run dev
    url: http://localhost:5173
