require "lune"

class Welcome
  include Lune::Bindable

  @[Lune::Bind]
  def greet(msg : String) : String
    msg = msg.empty? ? "stranger" : msg
    "Hello, #{msg}!"
  end
end

app = Lune::App.new
app.install(Welcome.new)

Lune.run(app, assets: "frontend/dist") do |opts|
  opts.title = "<%= @ctx.app_name %>"
  opts.width = 1400
  opts.height = 800
end
